<div class="grid grid-cols-1 gap-4 px-4 mt-2 mb-2">
    <div class="grid grid-cols-2 gap-4">
        <div class="card text-center shadow-2xl bg-accent image-full">
            <figure [app-icon]="icons.star" iconClass="h-full w-full"></figure>
            <div class="card-body m-auto">
                <h2 class="card-title">Spesa sabato</h2> 
            </div>
        </div>
        <div class="border stats border-base-300">
            <div class="stat place-items-center place-content-center">
                <div class="stat-title">Elementi</div> 
                <div class="stat-value">124</div> 
                <div class="stat-desc">in 3 liste</div>
            </div> 
        </div>
        <div class="border stats border-base-300">
            <div class="stat place-items-center place-content-center">
                <div class="stat-title">Spunta</div> 
                <div class="stat-value">13</div> 
                <div class="stat-desc">elementi</div>
            </div> 
        </div>
        <div class="card text-center shadow-2xl bg-secondary image-full">
            <figure [app-icon]="icons.heart" iconClass="h-full w-full"></figure>
            <div class="card-body m-auto">
                <h2 class="card-title">Elementi preferiti</h2> 
            </div>
        </div>
    </div>
    <div class="border stats border-base-300">
        <div class="stat place-items-center place-content-center">
            <div class="stat-title">Condivisioni</div> 
            <div class="stat-value">1</div> 
            <div class="stat-desc">lista condivisa</div>
        </div> 
    </div>
    <div class="card shadow-xl image-full">
        <figure>
          <img src="/assets/images/jelleke-vanooteghem-chuzevDl4qM-unsplash.jpg">
        </figure> 
        <div class="justify-end card-body">
          <h2 class="card-title">Condividi</h2> 
          <p>Collabora sulle liste assieme ai tuoi contatti, con la condivisione potrai permettere di inserire o cancellare elementi dalle liste, a chi vuoi tu.</p> 
          <div class="card-actions">
            <button class="btn btn-outline btn-accent">Vai</button>
          </div>
        </div>
    </div> 
    <div class="card text-right shadow-2xl image-full">
        <figure>
          <img src="https://picsum.photos/id/304/400/250" class="rounded-xl">
        </figure> 
        <div class="card-body">
          <h2 class="card-title">Impostazioni</h2> 
          <p>Utilizza le impostazioni per personalizzare la tua esperienza, potrai ad esempio gestire il tuo account o applicare un nuovo tema.</p> 
          <div class="justify-end card-actions">
            <button class="btn btn-outline btn-accent">Vai</button>
          </div>
        </div>
    </div>
</div>