<input type="checkbox" [attr.id]="modalId" class="modal-toggle">
<label [attr.for]="modalId" class="modal modal-bottom sm:modal-middle">
    <label for="" class="modal-box">
        <ng-content></ng-content>
        <div class="modal-action" *ngIf="cancelButton || confirmButton">
            <label *ngIf="cancelButton" [attr.for]="modalId" (click)="onCancel()" class="btn">{{cancelButtonText}}</label>
            <label *ngIf="confirmButton" [attr.for]="modalId" (click)="onConfirm()" class="btn btn-primary">{{confirmButtonText}}</label>
        </div>
    </label>
</label>