<div class="absolute h-full w-full noselect {{actionColor === 'warning' ? 'bg-warning' : 'bg-success'}} flex flex-row justify-center content-center {{iconColor === 'base-100' ? 'text-base-100' : 'text-info-content'}}">
    <app-icon class="flex-none self-center mx-4" [ngClass]="{ 'scale-175': actionLeftActive }" [iconSvg]="iconSvg"></app-icon>
    <div class="grow"></div>
    <app-icon class="flex-none self-center mx-4" [ngClass]="{ 'scale-175': actionRightActive }" [iconSvg]="iconSvg"></app-icon>
</div>
<div class="relative" [@panXReset]="currentState" #container (panStart)="onPanStart($event, container)" (panMove)="onPanMove($event, container)" (panEnd)="onPanEnd($event, container)">
    <ng-content></ng-content>
</div>