<div class="relative h-full overflow-hidden" *ngIf="state$ | async as state">
    <div class="h-full overflow-auto" (appScroll)="actualScrollDirection=$event">
        <div @list class="grid grid-cols-1 pb-12">
            <app-list-entry
                @items
                *ngFor="let list of state.lists; index as i; trackBy: trackById" 
                [list]="list"
                [mode]="state.selectedLists?.length > 0 ? ListEntryMode.Selection : ListEntryMode.Normal"
                [selected]="state.selectedLists?.indexOf(list.id) > -1"
                (entryTap)="onItemTap($event, state.selectedLists.length)"
                (entryPress)="onItemPress($event)"
            ></app-list-entry>
        </div>
    </div>
    
    <div class="absolute bottom-0 mb-2 m-auto w-full flex justify-center items-center" style="bottom:0;">
        <a 
            class="btn btn-wide btn-primary"
            [@showHideBottom]="!state.loading && (state.selectedLists?.length === 0) && (actualScrollDirection != ScrollDirection.down)"
            (click)="goToAddList()"
        >
            <app-icon [iconSvg]="icons.plus"></app-icon>
            Nuova lista
        </a>
    </div>
    <div class="absolute top-0 left-0 h-full w-full backdrop-opacity-10 backdrop-invert bg-black/10 flex justify-center items-center" *ngIf="state.loading">
        <button class="btn btn-ghost btn-lg btn-circle loading"></button> 
    </div> 
</div>
<div class="w-0 h-0 overflow-hidden" [@secondaryPage]="outlet?.isActivated">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
