<div class="relative h-full flex flex-col gap-4" *ngIf="state$ | async as state">
    <div class="grow mt-2">
        <div @list class="grid grid-cols-1 gap-4 px-4">
            <div @items class="h-24 card shadow-2xl noselect" *ngFor="let list of state.data; index as i; trackBy: trackById" (tap)="onItemTap(i, list.id)" (press)="processItemSelection(i,list.id)">
                <div class="card-body p-4">
                    <h2 class="card-title">{{list.name}}</h2> 
                    <div class="flex flex-row gap-4">
                        <div class="grow">elementi: {{list.items?.length}}</div>
                        <!--<div (click)="deleteList(list.id)" [app-icon]="icons.trash"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-wide btn-primary m-auto mb-2" [routerLink]="['/lists/edit']">
        <app-icon [iconSvg]="icons.plus"></app-icon>
        Nuova lista
    </a>
    <div class="absolute top-0 left-0 h-full w-full backdrop-opacity-10 backdrop-invert bg-black/10 flex justify-center items-center" *ngIf="state.loading">
        <button class="btn btn-ghost btn-lg btn-circle loading"></button> 
    </div> 
</div>
<div class="w-0 h-0 overflow-hidden" [@secondaryPage]="outlet?.isActivated">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
