<div  
    class="h-24 w-full bg-primary-content border-b-2 border-b-neutral-700 noselect flex justify-left content-center" 
    (tap)="onTap(item.id)" (press)="onPress(item.id)"
>
    <div class="w-full flex flex-row mx-2">
        <div class="justify-self-center self-center">
            <!-- <img src="/assets/icons/list.png" alt=""> -->
        </div>
        <div class="grow p-4">
            <h2 class="text-lg font-semibold {{item.marked ? 'line-through text-neutral/50' : 'no-underline text-neutral'}}">{{item.name}}</h2> 
            <div class="flex flex-row gap-4">
                <div class="grow text-sm  {{item.marked ? 'line-through text-slate-400/50' : 'no-underline text-slate-400'}}">categoria: {{item.category}}</div>
            </div>
        </div>
        <div class="justify-self-center self-center">
            <app-icon class="text-slate-400" *ngIf="mode === ListEntryMode.Normal" [iconSvg]="icons.chevron_right"></app-icon>
            <app-icon class="text-green-500" *ngIf="selected" [iconSvg]="icons.check_circle"></app-icon>
        </div>
    </div>
</div>