<div  
    class="h-24 w-full border-b-2 border-b-neutral-700 noselect flex justify-left content-center {{selected ? 'bg-slate-100' : 'bg-primary-content'}}" 
    (tap)="onTap(_list.id)" (press)="onPress(_list.id)"
>
    <div class="w-full flex flex-row mx-2">
        <div class="justify-self-center self-center">
            <img src="/assets/icons/list.png" alt="">
        </div>
        <div class="grow p-4">
            <h2 class="text-lg font-semibold">{{_list.name}}</h2> 
            <div class="flex flex-row gap-4">
                <div class="grow text-sm text-slate-400" *ngIf="_list.items?.length > 0">elementi da spuntare: {{_list.unmarkedItems?.length}}&nbsp;su&nbsp;{{_list.items?.length}}</div>
                <div class="grow text-sm text-slate-400" *ngIf="!_list.items?.length">elementi: 0</div>
            </div>
        </div>
        <div class="justify-self-center self-center">
            <app-icon class="text-slate-400" *ngIf="mode === ListEntryMode.Normal" [iconSvg]="icons.chevron_right"></app-icon>
            <app-icon class="text-green-500" *ngIf="selected" [iconSvg]="icons.check_circle"></app-icon>
        </div>
    </div>
</div>