<section class="drawer h-full" *ngIf="state$ | async as state">
    <input id="my-drawer" type="checkbox" class="drawer-toggle">
    <div class="h-full drawer-content flex flex-col">
        <section class="flex-none w-screen navbar shadow-lg bg-primary text-neutral-content">
            <div class="flex-none relative"> 
                <div class="inline-block w-8 mx-2">&nbsp;</div>
                <label @rotateInOut *ngIf="state.navbar.mode === NavbarMode.Normal" for="my-drawer" class="absolute left-0 btn btn-square btn-ghost drawer-button" [app-icon]="icons.menu"></label>
                <label @rotateInOut *ngIf="state.navbar.mode === NavbarMode.Selection" class="absolute left-0 btn btn-square btn-ghost" [app-icon]="icons.x" (click)="onNavbarCommand(NavbarCommand.Unselect)"></label>
            </div> 
            <div class="flex-1 px-2 mx-2">
                <span class="text-lg font-bold" *ngIf="state.navbar.mode === NavbarMode.Normal"><img class="w-24" alt="" src="assets/images/logo_text_negative.svg"></span>
                <span class="text-lg font-bold" *ngIf="state.navbar.mode === NavbarMode.Selection">{{state.navbar.label}}</span>
            </div> 
            <div class="flex-none">
                <button class="btn btn-square btn-ghost" *ngIf="state.navbar.mode === NavbarMode.Normal" [app-icon]="icons.search" [routerLink]="[{ outlets: { secondaryPage: ['search'] } }]"></button>
                <button class="btn btn-square btn-ghost" *ngIf="state.navbar.mode === NavbarMode.Selection" [app-icon]="icons.trash" (click)="onNavbarCommand(NavbarCommand.Delete)"></button>
            </div>
        </section>
        
        <section class="grow relative overflow-auto">
            <router-outlet></router-outlet>
        </section>

        <div class="w-0 h-0 overflow-hidden" [@secondaryPage]="outlet?.isActivated">
            <router-outlet #outlet="outlet" name="secondaryPage"></router-outlet>
        </div>

        <section class="flex-none bg-base-200">
            <ul class="menu shadow-lg horizontal w-screen flex flex-row">
                <li class="flex-1" [ngClass]="{'bordered': router.url === '/', 'text-primary': router.url === '/', 'text-base-300': router.url != '/'}">
                    <a class="w-full flex flex-col" [routerLink]="['/']">
                        <app-icon [iconSvg]="icons.home"></app-icon>
                        <div>Home</div>
                    </a>
                </li>
                <li class="flex-1" [ngClass]="{'bordered': router.url.startsWith('/lists'), 'text-primary': router.url.startsWith('/lists'), 'text-base-300': !router.url.startsWith('/lists')}">
                    <a class="w-full flex flex-col" [routerLink]="['/lists']">
                        <app-icon [iconSvg]="icons.collection"></app-icon>
                        <div>Liste</div>
                    </a>
                </li> 
                <li class="flex-1" [ngClass]="{'bordered': router.url === '/favorites', 'text-primary': router.url === '/favorites', 'text-base-300': router.url != '/favorites'}">
                    <a class="w-full flex flex-col">
                        <app-icon [iconSvg]="icons.heart"></app-icon>
                        <div class="text-base-300">Preferiti</div>
                    </a>
                </li> 
            </ul>
        </section>
    </div>
    <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label> 
        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <li>
            <a>Menu Item</a>
          </li> 
          <li>
            <a>Menu Item</a>
          </li>
        </ul>
    </div>
</section>