<section class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle">
    <div class="h-screen flex flex-col drawer-content">
        <div class="navbar mb-2 shadow-lg bg-primary text-neutral-content">
            <div class="flex-none"> 
                <label for="my-drawer" class="btn btn-square btn-ghost drawer-button" [app-icon]="icons.menu"></label>
            </div> 
            <div class="flex-1 px-2 mx-2">
                <span class="text-lg font-bold">
                    yepneed    
                </span>
            </div> 
            <div class="flex-none">
                <button class="btn btn-square btn-ghost" [app-icon]="icons.search"></button>
            </div>
        </div>
        <div class="grow overflow-auto">
            <router-outlet></router-outlet>
        </div>
        <div class="bg-base-200">
            <ul class="menu shadow-lg horizontal w-screen flex flex-row">
                <li class="flex-1" [ngClass]="{'bordered': router.url === '/', 'text-primary': router.url === '/', 'text-base-300': router.url != '/'}">
                    <a class="w-full flex flex-col" [routerLink]="['/']">
                        <app-icon [iconSvg]="icons.home"></app-icon>
                        <div>Home</div>
                    </a>
                </li>
                <li class="flex-1" [ngClass]="{'bordered': router.url === '/lists', 'text-primary': router.url === '/lists', 'text-base-300': router.url != '/lists'}">
                    <a class="w-full flex flex-col" [routerLink]="['/lists']">
                        <app-icon [iconSvg]="icons.collection"></app-icon>
                        <div>Liste</div>
                    </a>
                </li> 
                <li class="flex-1" [ngClass]="{'bordered': router.url === '/favorites', 'text-primary': router.url === '/favorites', 'text-base-300': router.url != '/favorites'}">
                    <a class="w-full flex flex-col">
                        <app-icon [iconSvg]="icons.heart"></app-icon>
                        <div class="text-base-300">Preferiti</div>
                    </a>
                </li> 
            </ul>
        </div>          
    </div>
    <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label> 
        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <li>
            <a>Menu Item</a>
          </li> 
          <li>
            <a>Menu Item</a>
          </li>
        </ul>
    </div>
</section>