<div class="w-full h-full bg-base-200 flex flex-col">
    <ng-container *ngIf="state$ | async as state">
        <div class="navbar shadow-lg bg-primary text-neutral-content">
            <div class="flex-none"> 
                <a class="btn btn-square btn-ghost" [routerLink]="[state.item ? '../..' : '..']" [app-icon]="icons.arrow_left"></a>
            </div> 
            <div class="flex-1 px-2 mx-2 flex flex-row">
                <div class="grow">
                    <h2 class="text-lg font-semibold">
                        <ng-container *ngIf="!state.item">Nuovo elemento</ng-container>
                        <ng-container *ngIf="state.item">Modifica elemento</ng-container>
                    </h2> 
                </div>
            </div> 
            <div class="flex-none">
                <button class="btn btn-square btn-ghost" (click)="save(state.listId)" *ngIf="dataGroup.valid" [app-icon]="icons.save"></button>
            </div>
        </div>
        <div class="grow overflow-auto p-4" [formGroup]="dataGroup">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Nome</span>
                    <span class="label-text-alt text-error" *ngIf="dataGroup.get('name')?.touched && dataGroup.get('name')?.invalid">{{getErrorMessage('name', dataGroup.get('name')?.errors)}}</span>
                  </label>
                <input autofocus formControlName="name" (focus)="nameTextBoxFocus=true" (blur)="nameTextBoxFocus=false" type="text" placeholder="nome" maxlength="25" class="input input-bordered" [ngClass]="{ 'input-error': dataGroup.get('name')?.touched && dataGroup.get('name')?.invalid}">
                <div class="z-20 bg-base-100 shadow-topxl flex flex-col" [ngClass]="{'h-32': !suggestionsExpanded, 'h-4/5': suggestionsExpanded }" *ngIf="state.nameSuggestions?.known.length > 0 || state.nameSuggestions?.existing.length > 0">
                    <div class="p-0.5 h-7 bg-primary text-primary-content text-xs flex gap-2 items-center justify-center" (click)="toggleSuggestionsExpand()">
                        <i iconClass="w-4 h-4" [app-icon]="icons.lightBulb"></i><span>Suggerimenti</span>
                    </div>
                    <ul class="menu divide-y divide-dashed block overflow-scroll grow">
                        <li *ngFor="let item of state.nameSuggestions.existing"><a (click)="onSuggestionExistingClick(item)">{{item.name}}&nbsp;<i [app-icon]="icons.pencil"></i></a></li>
                        <li *ngFor="let item of state.nameSuggestions.known"><a (click)="onSuggestionKnownClick(item)">{{item.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-control">
                <label class="label">
                <span class="label-text">Categoria</span>
                </label>
                <select class="select select-bordered" formControlName="category" [ngClass]="{ 'select-error': dataGroup.get('category')?.touched && dataGroup.get('category')?.invalid}">
                    <option>generico</option>
                    <option>frutta</option>
                    <option>verdura</option>
                    <option>ortofrutta</option>
                    <option>banco frigo</option>
                    <option>gastronomia</option>
                </select>
                <ng-container *ngIf="dataGroup.get('category')?.touched && dataGroup.get('category')?.invalid">    
                    <div [attr.data-tip]="getErrorMessage('category', dataGroup.get('category')?.errors)" class="tooltip tooltip-open tooltip-error tooltip-bottom">
                        <label></label>
                    </div>
                </ng-container>
            </div>
            <div class="form-control">
                <label class="label">
                <span class="label-text">Quantità</span>
                </label>
                <input formControlName="qty" type="number" pattern="[0-9,.]*" inputmode="decimal" placeholder="quantità" [attr.min]="MIN_VALUE" [attr.max]="MAX_VALUE" [maxLength]="6" class="input input-bordered" [ngClass]="{ 'input-error': dataGroup.get('qty')?.touched && dataGroup.get('qty')?.invalid}">
                <ng-container *ngIf="dataGroup.get('qty')?.touched && dataGroup.get('qty')?.invalid">    
                    <div [attr.data-tip]="getErrorMessage('qty', dataGroup.get('qty')?.errors)" class="tooltip tooltip-open tooltip-error tooltip-bottom">
                        <label></label>
                    </div>
                </ng-container>
                <div class="mt-1 mb-1 flex">
                    <button class="btn btn-xs" (click)="decreaseQty(dataGroup.get('qty'), MIN_VALUE)">-</button>
                    <span class="grow">&nbsp;</span>
                    <button class="btn btn-xs" (click)="increaseQty(dataGroup.get('qty'), MAX_VALUE)">+</button>
                </div>
            </div>

            <div class="flex flex-row py-4">
                <input #inputFile type="file" accept="image/*" capture="environment" style="display:none;" (change)="onFileChange($event)"/>
                <div class="rounded-lg overflow-hidden grow shrink basis-0 max-w-[200px]">
                    <img [hidden]="dataGroup.get('imageUrls')?.value?.length > 0 || dataGroup.get('newImages')?.value?.length > 0" src="assets/images/dummy_item_photo.webp">
                    <ng-container *ngIf="dataGroup.get('imageUrls')?.value?.length > 0"><img (click)="showImage(getImageCompleteUrl(imageUrl))" *ngFor="let imageUrl of dataGroup.get('imageUrls')?.value" [attr.src]="getImageCompleteUrl(imageUrl)"></ng-container>
                    <ng-container *ngIf="dataGroup.get('newImages')?.value?.length > 0"><img (click)="showImage(imageData)" *ngFor="let imageData of dataGroup.get('newImages')?.value" [attr.src]="imageData"></ng-container>
                </div>
                <div class="grow flex flex-row shrink basis-0 justify-center self-center">
                    <button class="btn btn-circle btn-outline mx-auto block text-accent" (click)="inputFile.click()">
                        <app-icon [iconSvg]="icons.camera" iconClass="mx-auto w-6"></app-icon>
                    </button>
                    <button *ngIf="dataGroup.get('imageUrls')?.value?.length > 0 || dataGroup.get('newImages')?.value?.length > 0" class="btn btn-circle btn-outline mx-auto block text-warning" (click)="removePhoto()">
                        <app-icon [iconSvg]="icons.trash" iconClass="mx-auto w-6"></app-icon>
                    </button>
                </div>
            </div>

            <div class="form-control">
                <label class="label">
                <span class="label-text">Note</span>
                </label>
                <textarea formControlName="notes" placeholder="note" maxlength="100" rows="4" class="textarea textarea-bordered" [ngClass]="{ 'textarea-error': dataGroup.get('notes')?.touched && dataGroup.get('notes')?.invalid}"></textarea>
            </div>
        </div>

        <div class="absolute top-0 left-0 h-full w-full z-10 backdrop-opacity-10 backdrop-invert bg-black/10 flex justify-center items-center" 
            *ngIf="suggestionsExpanded"
            (click)="toggleSuggestionsExpand()"
        >
        </div>

        <div class="absolute top-0 left-0 h-full w-full backdrop-opacity-10 backdrop-invert bg-black/10 flex justify-center items-center" *ngIf="state.loading">
            <button class="btn btn-ghost btn-lg btn-circle loading"></button> 
        </div>

        <div class="absolute top-0 left-0 h-full w-full bg-zinc-900" *ngIf="fullscreenImageUrl">
            <img class="h-full w-full object-contain" [attr.src]="fullscreenImageUrl" (click)="hideImage()">
        </div>
    </ng-container>
</div>