<div class="h-screen flex flex-col drawer-content">
    <div class="navbar mb-2 shadow-lg bg-primary text-neutral-content">
        <div class="flex-none"> 
            <a for="my-drawer" class="btn btn-square btn-ghost drawer-button" [routerLink]="['/lists']">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                </svg>
            </a>
        </div> 
        <div class="flex-1 px-2 mx-2">
            <span class="text-lg font-bold">
                nuova lista    
            </span>
        </div> 
        <div class="flex-none">
            <button class="btn btn-square btn-ghost" (click)="save()" [disabled]="dataGroup.get('name')?.invalid">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                </svg>
            </button>
        </div>
    </div>
    <div class="grow overflow-auto p-4" [formGroup]="dataGroup">
        <div class="form-control">
            <label class="label">
              <span class="label-text">Nome</span>
            </label> 
            <input formControlName="name" type="text" placeholder="nome" maxlength="25" class="input input-bordered" [ngClass]="{ 'input-error': dataGroup.get('name')?.touched && dataGroup.get('name')?.invalid}">
            <label class="label" *ngIf="dataGroup.get('name')?.touched && dataGroup.get('name')?.invalid">
                <span class="label-text-alt" *ngIf="dataGroup.get('name')?.errors?.['required']">Informazione obbligatoria</span>
                <span class="label-text-alt" *ngIf="dataGroup.get('name')?.errors?.['maxlength']">Lunghezza massima 25 caratteri</span>
            </label>
        </div>
    </div>
</div>