<div class="fixed top-0 w-screen h-screen bg-base-200 flex flex-col">
    <ng-container *ngIf="stateObservables.state$ | async as state">
        <div class="navbar mb-2 shadow-lg bg-primary text-neutral-content">
            <div class="flex-none"> 
                <a class="btn btn-square btn-ghost" [routerLink]="['../../..']" [app-icon]="icons.arrowLeft"></a>
            </div> 
            <div class="flex-1 px-2 mx-2">
                <span class="text-lg font-bold">
                    {{state.data?.name}}   
                </span>
            </div> 
            <div class="flex-none">
                <!-- <button class="btn btn-square btn-ghost" (click)="save()" *ngIf="dataGroup.valid" [app-icon]="icons.save"></button> -->
            </div>
        </div>
        <div class="grow overflow-auto p-4">
            &nbsp;
        </div>
</ng-container>
</div>