<div class="fixed top-0 w-screen h-screen bg-base-200 flex flex-col">
    <ng-container *ngIf="stateObservables.state$ | async as state">
        <div class="navbar mb-2 shadow-lg bg-primary text-neutral-content">
            <div class="flex-none"> 
                <a class="btn btn-square btn-ghost" [routerLink]="['../../..']" [app-icon]="icons.arrowLeft"></a>
            </div> 
            <div class="flex-1 px-2 mx-2 flex flex-row">
                
                    <div class="justify-self-center self-center">
                        <img class="max-w-[90%]" src="/assets/icons/list.png" alt="">
                    </div>
                    <div class="grow">
                        <h2 class="text-lg font-semibold">{{state.data?.name}}</h2> 
                        <div class="flex flex-row gap-4">
                            <div class="grow text-sm text-slate-400">elementi: {{state.data?.items?.length}}</div>
                        </div>
                    </div>
                
            </div> 
            <div class="flex-none">
                <!-- <button class="btn btn-square btn-ghost" (click)="save()" *ngIf="dataGroup.valid" [app-icon]="icons.save"></button> -->
            </div>
        </div>
        <div class="grow overflow-auto p-4" (appScroll)="actualScrollDirection=$event">
            &nbsp;
        </div>
        <div class="absolute bottom-0 mb-2 m-auto w-full flex justify-center items-center" style="bottom:0;">
            <a 
                class="btn btn-wide btn-primary"
                [@showHideBottom]="!state.loading && (selectedItems?.length === 0) && (actualScrollDirection != ScrollDirection.down)"
            >
                <app-icon [iconSvg]="icons.plus"></app-icon>
                Nuovo elemento
            </a>
        </div>
        <div class="absolute top-0 left-0 h-full w-full backdrop-opacity-10 backdrop-invert bg-black/10 flex justify-center items-center" *ngIf="state.loading">
            <button class="btn btn-ghost btn-lg btn-circle loading"></button> 
        </div>
    </ng-container>
</div>