@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
    input, select, textarea {
      font-size: 16px !important;
    }
}

html {
  height: 100dvh;
  height: 100vh; 
}

body {
  position: relative;
  height: 100dvh;
  height: 100vh; 
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
