<div class="w-full h-full bg-base-200 flex flex-col" *ngIf="state$ | async as state">
    <div class="flex-none navbar shadow-lg bg-primary text-neutral-content">
        <div class="flex-none"> 
            <a class="btn btn-square btn-ghost" [routerLink]="['..']" [app-icon]="icons.arrow_left"></a>
        </div> 
        <div class="flex-1 px-2 mx-2">
            <span class="text-lg font-bold" [formGroup]="dataGroup">
                <input 
                    autofocus 
                    #searchInput 
                    class="bg-primary border-none appearance-none outline-none focus:border-0 focus-visible:outline-0 focus-visible:border-0" 
                    type="text" 
                    placeholder="Cerca..."
                    formControlName='searchText'
                >
            </span>
        </div>
        <div class="flex-none">
            <!--<button class="btn btn-square btn-ghost" [app-icon]="icons.save"></button>-->
        </div>
    </div>
    <div class="tabs w-full flex flex-row">
        <a class="tab tab-bordered tab-active grow" [ngClass]="{ 'tab-active': activePanel === 0 || !activePanel }" (click)="activePanel = 0">Liste</a> 
        <a class="tab tab-bordered grow" [ngClass]="{ 'tab-active': activePanel === 1 }" (click)="activePanel = 1">Elementi</a>
    </div> 
    <div class="grow relative overflow-auto">
        <div class="h-full w-full bg-custom-pattern">
            <div class="grid grid-cols-1 pb-12">
                <app-list-entry
                    *ngFor="let list of state.lists; index as i; trackBy: trackListsById" 
                    [list]="list"
                    [mode]="ListEntryMode.Normal"
                    (entryTap)="onListItemTap(i, $event)"
                ></app-list-entry>
            </div>
        </div>
    </div>
</div>