<div class="w-full h-full bg-base-200 flex flex-col">
    <div class="flex-none navbar shadow-lg bg-primary text-neutral-content">
        <div class="flex-none"> 
            <a class="btn btn-square btn-ghost" [routerLink]="['..']" [app-icon]="icons.arrowLeft"></a>
        </div> 
        <div class="flex-1 px-2 mx-2">
            <span class="text-lg font-bold">
                <input autofocus class="bg-primary border-none appearance-none outline-none focus:border-0 focus-visible:outline-0 focus-visible:border-0" type="text" placeholder="Cerca">    
            </span>
        </div> 
        <div class="flex-none">
            <!--<button class="btn btn-square btn-ghost" [app-icon]="icons.save"></button>-->
        </div>
    </div>
    <div class="grow overflow-auto bg-base-200">
        &nbsp;
    </div>
</div>